<div class="p-3">
    <form>
        <fieldset>
            <legend>Menu:</legend>
            <div class="d-flex">
                <div class="w-80">
                    <div class="py-5">
                        <select name="" id="" class="w-20 mr-5">
                            <option selected>Members</option>
                        </select>
                        <select name="" id="" class="w-20 ml-5">
                            <option selected>Member Maintenance</option>
                        </select>
                    </div>
                </div>

                <div class="w-30 my-auto mr-5">
                    <div class="float-right">
                        <label>Current User : Tabish Sarfraz | </label>
                        <a href="#">Main Menu</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <form class="pt-5">
        <fieldset class="p-1" style="min-height:120vh">
            <legend>Member Maintenance</legend>
            <div class="w-100 d-flex m-0">
                <div class="w-33 py-3 pr-1">
                    <fieldset>
                        <legend>Web Account</legend>
                        <div class="w-100 text-center">
                            <img src="https://lh3.googleusercontent.com/proxy/8TwdG_bKTAcCg5486C4LN2uhKwk9S_sf1K5V4Fl7pidW9qnkE3mAwCBz7b7u6hSXKq76Eti_22wjFyBOq_GA"
                                class="w-50" alt="">
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                UserID :
                            </div>
                            <div class="w-60 ml-2">
                                19800216
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                E-Mail :
                            </div>
                            <div class="w-60 ml-2">
                                <input type="email" class="w-90" name="email" placeholder="Enter Proprietor(s)">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Password :
                            </div>
                            <div class="w-60 ml-2">
                                <a class="text-decoration text-blue">RESET</a>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Status :
                            </div>
                            <div class="w-60 ml-2">
                                <select name="status" class="w-90">
                                    <option value="suspended">Suspended</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                EDM Opt-In :
                            </div>
                            <div class="w-60 ml-2">
                                <select name="edm" class="w-90">
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Reporting :
                            </div>
                            <div class="w-60 ml-2">
                                <select name="edm" class="w-90">
                                    <option value="include">Include</option>
                                </select>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="my-2">
                        <legend>Web Account Login</legend>
                        <div class="w-100 d-flex">
                            <div class="w-30 my-auto">
                                Auto Login :
                            </div>
                            <div class="w-70">
                                <p class="text-blue">www.itherapeutics.com.au</p>
                                <p class="text-blue">Self.sigmaco.com.au</p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Member Details</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Mobile No :
                            </div>
                            <div class="w-60 ml-2">
                                <input type="number" class="w-90" name="mobileNo" placeholder="Enter Mobile Number">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Title :
                            </div>
                            <div class="w-60 ml-2">
                                <select name="title" class="w-90">
                                    <option value="mr">Mr.</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                First Name :
                            </div>
                            <div class="w-60 ml-2">
                                <input type="text" class="w-90" name="mobileNo" placeholder="Enter First Name">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Mid. Name :
                            </div>
                            <div class="w-60 ml-2">
                                <input type="text" class="w-90" name="mobileNo" placeholder="Enter Middle Name">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Surname Name :
                            </div>
                            <div class="w-60 ml-2">
                                <input type="text" class="w-90" name="mobileNo" placeholder="Enter Surname Name">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Age :
                            </div>
                            <div class="w-60 ml-2">
                                0-21
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Profession :
                            </div>
                            <div class="w-60 ml-2">
                                <select name="profession" class="w-90">
                                    <option value="pharmacy student">Pharmacy Student</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Registration # :
                            </div>
                            <div class="w-60 ml-2">
                                <input type="text" class="w-90" name="mobileNo" placeholder="Enter Surname Name">
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Training History</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Modules Completed :
                            </div>
                            <div class="w-60 ml-2">
                                0
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Modules Failed :
                            </div>
                            <div class="w-60 ml-2">
                                0
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-40 text-right">
                                Modules Incomplete :
                            </div>
                            <div class="w-60 ml-2">
                                0
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Comments</legend>
                    </fieldset>
                </div>

                <div class="w-33 py-3 pr-1 m-0">
                    <fieldset style="min-height: 100vh;">
                        <legend>Store</legend>
                        <div class="p-2" style="background-color:#ECECEC;min-height:100vh">
                            <div class="mt-2 p-3" style="border: 4px solid #6EFC6E;">
                                <div class="w-60">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK5IwJ-HBoXQ8eC3SEsTNyoGLtJ-u9pumMQiOSrlW66ybYZjNiUyBbf-A-UF7XvJV2tS8&usqp=CAU"
                                        class="w-100" alt="">
                                </div>
                                <div>
                                    <b>UnityHealth Acme Pharmacy</b>
                                    <p class="m-0">11 / 79-ss51 Hight Street</p>
                                    <p class="m-0">KEW</p>
                                    <p class="m-0">VIC 3102</p>
                                    <p class="m-0">T: 0398552655</p>
                                </div>
                                <div class="mt-2">
                                    <p class="m-0">Head Pharmacist :</p>
                                    <p class="m-0">Proprietor :</p>
                                    <p class="m-0">Store/Retail Manager(s) : Robert De Lorenzo</p>
                                    <p class="m-0">Owner(s) :</p>
                                </div>
                            </div>
                            <button class="mt-2" type="button">Change ></button>
                        </div>
                    </fieldset>
                </div>

                <div class="w-33 py-3 pr-1 m-0">
                    <fieldset>
                        <legend>Manager Console Access</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-50 text-right">
                                Confirmed by user on :
                            </div>
                            <div class="w-50 ml-2">

                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-50 text-right">
                                User Type :
                            </div>
                            <div class="w-50 ml-2">
                                <select name="edm" class="w-90">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 my-2">
                            <div class="w-100 my-2">
                                Stores :
                            </div>
                            <div class="w-100">
                                <textarea class="w-100" name="" id="" cols="30" rows="5"></textarea>
                            </div>
                            <div class="w-100 text-center my-1">
                                <button type="button" class="mx-2">Add</button>
                                <button type="button">Remove</button>
                            </div>
                            <div class="scroll-container px-2 mt-2">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, saepe beatae odit
                                    laudantium aut minus dolore culpa in tenetur, magni eveniet dolor. Voluptatibus,
                                    doloribus exercitationem qui esse sit quae officia quibusdam sapiente pariatur
                                    commodi consectetur? Tenetur nisi cumque vel quisquam facilis molestias, aliquid
                                    sequi similique exercitationem, facere quasi, debitis inventore recusandae! Natus
                                    exercitationem cupiditate laudantium, porro, voluptatibus perferendis, voluptates
                                    repudiandae harum alias a perspiciatis quisquam facere voluptas deserunt rem?
                                    Laboriosam assumenda fuga ut repellat mollitia atque iste? Non praesentium sapiente
                                    possimus quasi earum, itaque nobis nihil quis illum facilis cum ratione mollitia
                                    rerum natus repellendus rem incidunt dolore exercitationem corporis dolorum nam
                                    atque inventore saepe! Non, iusto pariatur. Quibusdam autem, iure perspiciatis
                                    possimus incidunt error repudiandae officia? Incidunt, debitis tenetur optio
                                    deleniti ipsum neque dignissimos, voluptates recusandae laudantium quia sint quod
                                    dolorum reprehenderit laboriosam maiores pariatur aliquam cupiditate ea vel! Quae
                                    beatae ipsam optio ipsa odit! Incidunt cupiditate rerum delectus, eaque quisquam
                                    necessitatibus eligendi ea dicta, soluta porro, animi sit tempore. Voluptas ut id
                                    reprehenderit natus veritatis nemo, perferendis ducimus eius, nulla atque sapiente
                                    deleniti vitae labore! Veritatis nobis sed aut cupiditate minus voluptas est, fuga
                                    tempora? Maiores officiis modi commodi tenetur reiciendis similique amet. Iusto
                                    autem consectetur a commodi quo in cupiditate numquam totam suscipit delectus
                                    explicabo recusandae, est odio sapiente ex nemo placeat officiis saepe impedit
                                    inventore aliquam officia culpa. Doloribus inventore impedit dicta assumenda minus
                                    rerum dolorem magni voluptates molestias, numquam dolore iusto earum eveniet
                                    repudiandae officiis nulla consequatur maiores! Velit, necessitatibus veritatis
                                    dolorum explicabo molestias suscipit cum beatae minus aliquam assumenda quos eos
                                    tempore est id perspiciatis laborum nobis voluptatibus neque vitae aperiam, iste
                                    unde enim pariatur odit. Cupiditate, a quod quis nobis quo repellendus rerum
                                    suscipit, saepe vitae, alias iure dolores fuga fugiat est impedit accusantium
                                    laborum. Explicabo similique iste quibusdam esse perspiciatis, cupiditate quisquam
                                    aspernatur quaerat, eos architecto sit! Soluta sit ex nostrum alias rem modi
                                    voluptatibus adipisci obcaecati blanditiis, sunt, non quasi enim nemo cum
                                    reprehenderit libero praesentium? Quam vel et tempora dolor ad velit cum. Esse
                                    fugiat, dolores ab aut praesentium similique, deserunt doloremque, natus id sit
                                    obcaecati quibusdam. Nobis perferendis ratione libero incidunt! Nihil enim natus
                                    quasi quos. Impedit, ea exercitationem quam voluptatum dicta, dignissimos quis qui
                                    tempore alias eligendi voluptate quibusdam, soluta inventore magni tenetur quidem
                                    reiciendis quos nostrum commodi? Ipsum libero inventore impedit minima modi
                                    voluptatibus, odio distinctio nihil! Quia ipsum ea quis asperiores provident,
                                    deleniti accusamus architecto ratione optio fuga, sint numquam sequi excepturi vel
                                    voluptatem ducimus impedit esse culpa cupiditate. Cupiditate adipisci sapiente
                                    accusantium eaque a vitae nemo incidunt tempora, iusto delectus esse ex animi
                                    quibusdam debitis. Sapiente non aut atque, ratione, consequuntur magnam officiis
                                    dignissimos nulla, earum suscipit placeat. Reiciendis, perspiciatis! Illum ullam
                                    commodi rerum nostrum iste adipisci modi velit fugit obcaecati fuga neque
                                    reiciendis, sunt veniam suscipit ab facere quaerat perferendis excepturi dolores
                                    natus libero. Reiciendis atque eaque aut deleniti? Similique dolorum aperiam sunt
                                    ratione repudiandae? Et deleniti illum consectetur fuga eius corporis saepe dolorem
                                    similique eos fugiat soluta, officia veniam obcaecati, ratione, aliquid
                                    necessitatibus.</p>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </fieldset>
        <div class="float-right my-2">
            <button type="submit" class="mx-1">Save</button>
            <button type="button" class="mx-1">Cancel</button>
        </div>
    </form>
</div>