<div class="p-3">
    <form>
        <fieldset>
            <legend>Menu:</legend>
            <div class="d-flex">
                <div class="w-80">
                    <div class="py-5">
                        <select name="" id="" class="w-20 mr-5">
                            <option selected>Stores Database</option>
                        </select>
                        <select name="" id="" class="w-20 ml-5">
                            <option selected>Store Maintenance</option>
                        </select>
                    </div>
                </div>

                <div class="w-20 my-auto">
                    <div class="float-right">
                        <label>Current User : Tabish Sarfraz | </label>
                        <a href="#">Main Menu</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <form class="pt-5">
        <fieldset class="p-1">
            <legend>Store Maintenance</legend>
            <div class="w-100 d-flex">
                <div class="w-50 p-3">
                    <fieldset>
                        <legend>Store</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Store ID :
                            </div>
                            <div class="w-70">
                                8305
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                IMS Code :
                            </div>
                            <div class="w-70">
                                <input type="number" name="ims_code" placeholder="Enter IMS Code">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Group :
                            </div>
                            <div class="w-70">
                                <select name="group" class="select">
                                    <option selected>Independent</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Location Type :
                            </div>
                            <div class="w-70">
                                <select name="location_type" class="select">
                                    <option selected>Pharmacy Store</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Location Name :
                            </div>
                            <div class="w-70">
                                <input type="text" name="location_name" placeholder="Enter Location Name">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Address :
                            </div>
                            <div class="w-70">
                                <input type="text" name="address1" class="my-2" placeholder="Enter Address">
                                <input type="text" name="address2" class="my-2" placeholder="Enter Address">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Suburb :
                            </div>
                            <div class="w-20 mr-3">
                                <input type="text" name="address" class="w-100" placeholder="Enter Suburb">
                            </div>
                            <div class="w-20 mr-3">
                                <input type="text" name="state" class="w-100" placeholder="Enter State">
                            </div>
                            <div class="w-20 mr-3">
                                <input type="number" name="postcode" class="w-100" placeholder="Enter Postcode">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Phone No :
                            </div>
                            <div class="w-70">
                                <input type="number" name="phone_number" placeholder="Enter Phone No.">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Fax No :
                            </div>
                            <div class="w-70">
                                <input type="number" name="fax_number" placeholder="Enter Fax No.">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Email :
                            </div>
                            <div class="w-70">
                                <input type="email" name="email" placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                QCPP :
                            </div>
                            <div class="w-70">
                                <select name="qcpp" class="select">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div><div class="w-100 d-flex my-2">
                            <div class="w-30">
                                QCPP Expiry :
                            </div>
                            <div class="w-70">
                                <input type="date" name="qcpp_expiry">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="w-50 p-3">
                    <fieldset>
                        <legend>Management</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Pharm in charge :
                            </div>
                            <div class="w-70">
                                <input type="text" name="pharam_in_charge" placeholder="Pharm in charge">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Proprietor(s) :
                            </div>
                            <div class="w-70">
                                <input type="text" name="proprietor" placeholder="Enter Proprietor(s)">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Manager(s) :
                            </div>
                            <div class="w-70">
                                <input type="text" name="manager" placeholder="Enter Manager(s)">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="my-2">
                        <legend>Ownership</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Account # :
                            </div>
                            <div class="w-70">
                                <input type="number" name="account" placeholder="Enter IMS Code">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Owning Company :
                            </div>
                            <div class="w-70">
                                <input type="text" name="owning_company" placeholder="Enter Owning Company">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Business Entity Details</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Entity Name :
                            </div>
                            <div class="w-70">
                                <input type="text" name="entity_name" placeholder="Enter Entity Name">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Trading Name :
                            </div>
                            <div class="w-70">
                                <input type="text" name="trading_name" placeholder="Enter Trading Name">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Business Name :
                            </div>
                            <div class="w-70">
                                <input type="text" name="business_name" placeholder="Enter Business Name">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Entity Type :
                            </div>
                            <div class="w-70">
                                <select name="entity_type" class="select">
                                    <option selected>Australian Private Company</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                ABN :
                            </div>
                            <div class="w-70">
                                <input type="number" name="abn" placeholder="Enter ABN">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                ACN :
                            </div>
                            <div class="w-70">
                                <input type="number" name="acn" placeholder="Enter ACN">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </form>
    <p>Members: 0</p>
</div>