<div class="p-3">
    <form>
        <fieldset>
            <legend>Menu:</legend>
            <div class="d-flex">
                <div class="w-80">
                    <div class="py-5">
                        <select name="" id="" class="w-20 mr-5">
                            <option selected>Members</option>
                        </select>
                        <select name="" id="" class="w-20 ml-5">
                            <option selected>Member Maintenance</option>
                        </select>
                    </div>
                </div>

                <div class="w-30 my-auto mr-5">
                    <div class="float-right">
                        <label>Current User : Tabish Sarfraz | </label>
                        <a href="#">Main Menu</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="w-100 d-flex mt-5">
        <div class="w-50">
            <button class="edit-button" type="button">
                <svg class="my-auto" id="Layer_1" enable-background="new 0 0 512.005 512.005" height="18" viewBox="0 0 512.005 512.005"
                    width="18" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <g clip-rule="evenodd" fill-rule="evenodd">
                            <path
                                d="m350 301.391v-255.389c0-5.5-4.5-10-10-10h-320c-5.5 0-10 4.5-10 10v420.001c0 5.5 4.5 10 10 10h320c5.5 0 10-4.499 10-10v-108.044l-45.091 45.091-47.141 18.857 18.857-47.141z"
                                fill="#fff" />
                            <path
                                d="m436.71 214.68-86.71 86.711-73.376 73.375-18.857 47.142 47.141-18.858 45.092-45.091 114.995-114.995z"
                                fill="#ffc144" />
                            <path
                                d="m436.71 214.68 28.284 28.284 33.896-33.896c4.147-4.147 4.148-10.936 0-15.085l-13.2-13.2c-4.148-4.148-10.936-4.148-15.085 0z"
                                fill="#6d91ac" />
                        </g>
                        <g>
                            <path
                                d="m190 411.907h-129.999c-5.523 0-10 4.477-10 10s4.477 10 10 10h129.999c5.523 0 10-4.477 10-10s-4.477-10-10-10z" />
                            <path
                                d="m60.001 390.431h65c5.523 0 10-4.477 10-10s-4.477-10-10-10h-65c-5.523 0-10 4.477-10 10s4.478 10 10 10z" />
                            <path
                                d="m190 328.955h-129.999c-5.523 0-10 4.477-10 10s4.477 10 10 10h129.999c5.523 0 10-4.477 10-10s-4.477-10-10-10z" />
                            <path
                                d="m60.001 307.479h65c5.523 0 10-4.477 10-10s-4.477-10-10-10h-65c-5.523 0-10 4.477-10 10s4.478 10 10 10z" />
                            <path
                                d="m190 246.002h-129.999c-5.523 0-10 4.477-10 10s4.477 10 10 10h129.999c5.523 0 10-4.477 10-10s-4.477-10-10-10z" />
                            <path
                                d="m60.001 224.526h65c5.523 0 10-4.477 10-10s-4.477-10-10-10h-65c-5.523 0-10 4.477-10 10s4.478 10 10 10z" />
                            <path
                                d="m190 163.05h-84.995c-5.523 0-10 4.477-10 10s4.477 10 10 10h84.995c5.523 0 10-4.477 10-10s-4.477-10-10-10z" />
                            <path
                                d="m135.001 131.574c0-5.523-4.477-10-10-10h-65c-5.523 0-10 4.477-10 10s4.477 10 10 10h65c5.523 0 10-4.477 10-10z" />
                            <path
                                d="m190 80.098h-129.999c-5.523 0-10 4.477-10 10s4.477 10 10 10h129.999c5.523 0 10-4.477 10-10s-4.477-10-10-10z" />
                            <path
                                d="m261.451 138.645c1.953 1.953 4.512 2.929 7.071 2.929s5.119-.976 7.071-2.929l41.476-41.476c3.905-3.905 3.905-10.237 0-14.143s-10.237-3.905-14.143 0l-34.405 34.405-13.667-13.667c-3.905-3.905-10.237-3.905-14.142 0s-3.905 10.237 0 14.142z" />
                            <path
                                d="m505.961 186.912-13.199-13.199c-3.896-3.896-9.085-6.041-14.614-6.041-5.528 0-10.718 2.146-14.613 6.041l-27.012 27.012c-3.86-2.411-9.004-1.948-12.36 1.407-3.356 3.356-3.819 8.5-1.408 12.36l-62.755 62.756v-231.246c0-11.028-8.972-20-20-20h-320c-11.028 0-20 8.972-20 20v420.001c0 11.028 8.972 20 20 20h320c11.028 0 20-8.972 20-20v-103.902l105.182-105.182c1.614 1.009 3.449 1.521 5.289 1.521 2.559 0 5.119-.977 7.071-2.929 3.356-3.356 3.819-8.5 1.408-12.36l27.012-27.012c8.058-8.058 8.057-21.169-.001-29.227zm-206.672 207.616-23.571 9.429 9.428-23.571 151.564-151.563 14.142 14.142zm40.711 71.474h-320v-420h320v251.246l-70.447 70.447c-.958.958-1.71 2.1-2.213 3.357l-18.857 47.142c-1.486 3.714-.615 7.957 2.213 10.785 1.912 1.912 4.469 2.929 7.073 2.929 1.249 0 2.508-.234 3.712-.716l47.142-18.857c1.257-.503 2.399-1.256 3.357-2.213l28.02-28.02zm151.819-264.005-26.825 26.825-14.142-14.142 26.825-26.824c.242-.243.699-.243.942 0l13.199 13.199c.244.242.244.7.001.942z" />
                            <path
                                d="m261.451 221.597c1.875 1.875 4.419 2.929 7.071 2.929s5.196-1.054 7.071-2.929l41.476-41.477c3.905-3.905 3.905-10.237 0-14.143s-10.237-3.905-14.143 0l-34.405 34.406-13.667-13.667c-3.905-3.905-10.237-3.905-14.143 0s-3.905 10.237 0 14.143z" />
                            <path
                                d="m268.522 307.478c2.559 0 5.119-.976 7.071-2.929l41.476-41.476c3.905-3.905 3.905-10.237 0-14.143s-10.237-3.905-14.143 0l-34.405 34.405-13.667-13.667c-3.905-3.905-10.237-3.905-14.142 0s-3.905 10.237 0 14.142l20.738 20.738c1.954 1.954 4.513 2.93 7.072 2.93z" />
                            <path
                                d="m60.001 163.05c-5.523 0-9.996 4.477-9.996 10s4.48 10 10.003 10 10-4.477 10-10-4.477-10-10-10z" />
                        </g>
                    </g>
                </svg>
                <span class="my-auto">
                    Edit
                </span>
            </button>
        </div>
        <div class="w-50 text-right">
            <form>
                <label>Search:</label>
                <input type="text" name="" class="w-50 ml-2">
                <button class="ml-2 search-btn" type="submit">Go</button>
                <button class="ml-2" type="button">Clear</button>
            </form>
        </div>
    </div>

    <form class="pt-5">
        <fieldset class="p-1" style="min-height:120vh">
            <legend>Member Maintenance List</legend>
            <div class="w-100 d-flex" style="background-color: #fff;min-height: 120vh;">
                <table class="member-table">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>ID</th>
                        <th>Date</th>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>Profession</th>
                        <th>Username</th>
                        <th>Store</th>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 25 25" xml:space="preserve"
                                class="">
                                <g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <path
                                                d="M256,0C114.833,0,0,114.844,0,256s114.833,256,256,256s256-114.844,256-256S397.167,0,256,0z M357.771,264.969    l-149.333,96c-1.75,1.135-3.771,1.698-5.771,1.698c-1.75,0-3.521-0.438-5.104-1.302C194.125,359.49,192,355.906,192,352V160    c0-3.906,2.125-7.49,5.563-9.365c3.375-1.854,7.604-1.74,10.875,0.396l149.333,96c3.042,1.958,4.896,5.344,4.896,8.969    S360.813,263.01,357.771,264.969z"
                                                fill="#166aad" data-original="#000000" style="" class="" />
                                        </g>
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                    <g xmlns="http://www.w3.org/2000/svg">
                                    </g>
                                </g>
                            </svg>
                        </td>
                        <td class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="25" height="25" x="0" y="0"
                                viewBox="0 0 511.448 511.448" style="enable-background:new 0 0 25 25"
                                xml:space="preserve" class="">
                                <g>
                                    <path xmlns="http://www.w3.org/2000/svg"
                                        d="m436.508 74.94c-99.913-99.913-261.64-99.927-361.567 0-99.913 99.913-99.928 261.64 0 361.567 99.913 99.913 261.64 99.928 361.567 0 99.912-99.912 99.927-261.639 0-361.567zm-202.451 255.45c0 11.598-9.402 21-21 21s-21-9.402-21-21v-149.333c0-11.598 9.402-21 21-21s21 9.402 21 21zm85.333 0c0 11.598-9.402 21-21 21s-21-9.402-21-21v-149.333c0-11.598 9.402-21 21-21s21 9.402 21 21z"
                                        fill="#ea9d29" data-original="#000000" style="" class="" />
                                </g>
                            </svg>

                        </td>
                        <td>66988</td>
                        <td>10.07.19</td>
                        <td>Tabish</td>
                        <td>Sarfraz</td>
                        <td>Pharmacy_Student</td>
                        <td>testself14@mailinator.com</td>
                        <td>UnityHealth Acme Pharmacy</td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <fieldset class="mt-2"></fieldset>
    </form>
</div>