<div class="p-3">
    <form>
        <fieldset>
            <legend>Menu:</legend>
            <div class="d-flex">
                <div class="w-80">
                    <div class="py-5">
                        <select name="" id="" class="w-20 mr-5">
                            <option selected>Modules</option>
                        </select>
                        <select name="" id="" class="w-20 ml-5">
                            <option selected>Modules Maintenance</option>
                        </select>
                    </div>
                </div>

                <div class="w-30 my-auto mr-5">
                    <div class="float-right">
                        <label>Current User : Tabish Sarfraz | </label>
                        <a href="#">Main Menu</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <form class="pt-5">
        <fieldset class="p-1" style="min-height:120vh">
            <legend>Modules Maintenance</legend>
            <div class="w-100 d-flex">
                <!-- Left Section -->
                <div class="w-40 p-3">
                    <fieldset>
                        <legend>Details</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-20 d-flex">
                                <label>Active </label> <input class="w-20" type="checkbox" name="active">
                            </div>
                            <div class="w-30 d-flex">
                                <label>Comming Soon</label> <input class="w-10" type="checkbox" name="active">
                            </div>
                            <div class="w-20 d-flex">
                                <label>Rewards </label> <input class="w-20" type="checkbox" name="active">
                            </div>
                            <div class="w-20 d-flex">
                                <label>Certificate </label> <input class="w-20" type="checkbox" name="active">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Module Type:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90" required>
                                    <option selected>Supplier</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Course SCO:
                            </div>
                            <div class="w-70">
                                <input type="text" name="" class="w-90">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Connect Launch URL:
                            </div>
                            <div class="w-70">
                                <input type="text" name="" class="w-90">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Module Format:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option selected>Flash</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Module Name :
                            </div>
                            <div class="w-70">
                                <input type="text" name="" class="w-90">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Summary:
                            </div>
                            <div class="w-70">
                                <textarea name="" id="" cols="30" class="w-90" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Company:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option selected>3M</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Brand:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option selected>Nexcare</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Report:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option selected>3M_Nexcare</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Audience Message:
                            </div>
                            <div class="w-70">
                                <textarea name="" id="" cols="30" class="w-90" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Time to complete:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option selected>--Please Selected</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Disclaimer</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Disclaimer On :
                            </div>
                            <div class="w-70">
                                <input type="checkbox" name="" style="width: 5%;">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Time to complete:
                            </div>
                            <div class="w-70">
                                <textarea name="" id="" cols="30" class="w-90" rows="3"></textarea>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Accreditation</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Accredited
                            </div>
                            <div class="w-70">
                                <input type="checkbox" name="" style="width: 5%;">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Accred. Type:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option selected>-</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Points:
                            </div>
                            <div class="w-25 ml-2">
                                &nbsp;<input type="number" class="w-50" name="">
                            </div>
                            <div class="w-20">
                                Accred. #
                            </div>
                            <div class="w-30">
                                <input type="number" class="w-100" name="">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Summary :
                            </div>
                            <div class="w-70">
                                <input type="text" name="" class="w-90">
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Details :
                            </div>
                            <div class="w-70">
                                <textarea name="" id="" cols="30" class="w-90"></textarea>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Competency :
                            </div>
                            <div class="w-70">
                                <textarea name="" id="" cols="30" rows="5" class="w-90"></textarea>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Objectives :
                            </div>
                            <div class="w-70">
                                <textarea name="" id="" cols="30" rows="5" class="w-90"></textarea>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Congratulatory Message :
                            </div>
                            <div class="w-70">
                                <input type="text" name="" class="w-90" class="w-90">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Active Campaign</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Synchronization:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option value="off">OFF</option>
                                    <option value="on">On</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                Synchronization should run:
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option value="">Since Last Run</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- Right Section -->
                <div class="w-60 p-3">
                    <fieldset>
                        <legend>Dates</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <span class="text-danger">*</span> Opened : <input type="date" name="">
                            </div>
                            <div class="w-30">
                                <span class="text-danger">*</span> Closed : <input type="date" name="">
                            </div>
                            <div class="w-30">
                                <span class="text-danger">*</span> Expiry : <input type="date" name="">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Thumbnail</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-15">
                                <span class="text-danger">*</span> Image :
                            </div>
                            <div class="w-90">
                                <input type="text" name="">
                                <button class="ml-2">Find</button>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Section</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <div class="fixed-container px-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi amet, aliquid
                                    atque, est ullam ipsum, iusto modi hic assumenda veniam aperiam in maiores quos
                                    excepturi? Ratione enim quia sunt! Eos quas ipsam repellendus. Distinctio voluptatum
                                    et consectetur molestiae quasi dolor, quod numquam excepturi sequi. Necessitatibus
                                    quidem quasi illo aspernatur.
                                </div>
                            </div>
                            <div class="w-40 text-center">
                                <button class="w-40">Add</button> <br>
                                <button class="w-40">Remove</button>
                            </div>
                            <div class="w-30">
                                <div class="fixed-container px-1">

                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Modules Types</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <div class="fixed-container px-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi amet, aliquid
                                    atque, est ullam ipsum, iusto modi hic assumenda veniam aperiam in maiores quos
                                    excepturi? Ratione enim quia sunt! Eos quas ipsam repellendus. Distinctio voluptatum
                                    et consectetur molestiae quasi dolor, quod numquam excepturi sequi. Necessitatibus
                                    quidem quasi illo aspernatur.
                                </div>
                            </div>
                            <div class="w-40 text-center">
                                <button class="w-40">Add</button> <br>
                                <button class="w-40">Remove</button>
                            </div>
                            <div class="w-30">
                                <div class="fixed-container px-1">

                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Related Categories</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <div class="fixed-container px-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi amet, aliquid
                                    atque, est ullam ipsum, iusto modi hic assumenda veniam aperiam in maiores quos
                                    excepturi? Ratione enim quia sunt! Eos quas ipsam repellendus. Distinctio voluptatum
                                    et consectetur molestiae quasi dolor, quod numquam excepturi sequi. Necessitatibus
                                    quidem quasi illo aspernatur.
                                </div>
                            </div>
                            <div class="w-40 text-center">
                                <button class="w-40">Add</button> <br>
                                <button class="w-40">Remove</button>
                            </div>
                            <div class="w-30">
                                <div class="fixed-container px-1">

                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Related Modules</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <div class="fixed-container px-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste commodi amet, aliquid
                                    atque, est ullam ipsum, iusto modi hic assumenda veniam aperiam in maiores quos
                                    excepturi? Ratione enim quia sunt! Eos quas ipsam repellendus. Distinctio voluptatum
                                    et consectetur molestiae quasi dolor, quod numquam excepturi sequi. Necessitatibus
                                    quidem quasi illo aspernatur.
                                </div>
                            </div>
                            <div class="w-40 text-center">
                                <button class="w-40">Add</button> <br>
                                <button class="w-40">Remove</button>
                            </div>
                            <div class="w-30">
                                <div class="fixed-container px-1">

                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Restrictions</legend>
                        <div class="w-100 d-flex my-2">
                            <div class="w-30">
                                <label>Restriction Level :</label>
                            </div>
                            <div class="w-70">
                                <select name="" class="w-90">
                                    <option value="">UnRestricted</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Notes</legend>
                        <div class="w-100 d-flex my-2">
                            <textarea name="" id="" cols="30" class="w-100" rows="5"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </fieldset>
        <div class="float-right my-2">
            <button type="submit" class="mx-1">Save</button>
            <button type="button" class="mx-1">Cancel</button>
        </div>
    </form>
</div>